{% extends 'pagesapp/base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}

{% block page_title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-5">
                <div style="border: 1px solid #e7e7e7; padding: 25px;">
                    <div class="text-center">
                        <img width="100" src="https://tbncdn.freelogodesign.org/3b177392-7ad8-417d-8882-f47636d4fa90.png" alt="">
                    </div>
                    <form method="POST" action="{% url 'account_signup' %}" class="form">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Sign Up
                            </button>
                        {% endbuttons %}
                    </form>
                    <a href="{{ login_url }}">Login</a>
                </div>
                <br>
            </div>
        </div>
    </div>

{% endblock %}